<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Pengguna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-table
    [config]="tableConfig"
    [dataSource]="dataSource"
    [statusBadges]="statusBadges"
    [currentPage]="currentPage"
    (actionClick)="onAction($event)"
    (filterChange)="onFilterChange($event)"
    (pageChange)="onPageChange($event)"
  >
    <div table-actions>
      <ion-button fill="solid" color="primary" (click)="navigateToCreate()">
        <ion-icon slot="start" name="add"></ion-icon>
        Tambah Pengguna
      </ion-button>
    </div>
  </app-table>
</ion-content>
